フォローしているユーザーが質問しています

こんにちは

フォローしているユーザーが質問しています。

#foreach ($question in $questions.documents)
商品名：${question.product.productName}
投稿者：${question.communityUser.communityName}
本文：$helper.shortTextBody(${question.questionBody})
http://${serviceConfig.communityDomain}/${serviceConfig.communityContextPath}/product/question/${question.questionId}/detail.html

#end
ご回答できるようでしたら、${toUser.communityName}さんの回答をお待ちしています。

よろしくお願いいたします。
ヨドバシ・ドット・コム
----------------------------------------------------------------------------------------------------------------------
今後ヨドバシ・ドット・コムからこのようなメールを受けとりたくない場合は、または通知頻
度を変更したい場合は、メール通知設定から変更することができます。

メール通知設定
http://${serviceConfig.communityDomain}/${serviceConfig.communityContextPath}/mypage/mail/input.html