${toUser.communityName}さんの回答にコメントが届いています

こんにちは

${toUser.communityName}さんが投稿した「${questionAnswer.product.productName}」の回答に、${comment.communityUser.communityName}さんからコメントが届いています。

Q&Ａ質問：$helper.shortTextTitle(${questionAnswer.question.questionBody})
${questionAnswer.communityUser.communityName}さんの回答：$helper.shortTextTitle(${questionAnswer.answerBody})
${comment.communityUser.communityName}さんのコメント：「$helper.shortTextBody(${comment.commentBody})」
http://${serviceConfig.communityDomain}/${serviceConfig.communityContextPath}/product/question/${questionAnswer.question.questionId}/detail.html

役立ったときは、「${serviceConfig.likeAnswerLabel}」を押したり、コメントを投稿してくださいね！

よろしくお願いいたします。
ヨドバシ・ドット・コム
----------------------------------------------------------------------------------------------------------------------
今後ヨドバシ・ドット・コムからこのようなメールを受けとりたくない場合は、または通知頻
度を変更したい場合は、メール通知設定から変更することができます。

メール通知設定
http://${serviceConfig.communityDomain}/${serviceConfig.communityContextPath}/mypage/mail/input.html
