コミュニティアカウント一時停止のご連絡

${toUser.communityName}様

平素よりヨドバシ・ドット・コムをご利用いただき、誠にありがとうございます。

コミュニティ参加規約に違反したと思われる行為がありましたので、大変恐縮ながら、
${toUser.communityName}様のコミュニティアカウントを一時停止させていただきました。一時停止により、ほかのお
客様からは${toUser.communityName}様の投稿内容・コミュニティユーザページなどが見れないようになっております。

コミュニティ参加規約
${serviceConfig.communityGuideline}

該当するレビューを削除または編集いただき、参加規約違反がなくなったことを確認でき
ましたらコミュニティアカウントを再開させていただきます。

また、コミュニティアカウント一度停止措置が複数回続きますと、完全に停止させていただく
場合もございます。一度停止措置となりましたアカウントは以後コミュニティへの参加を不可
とさせていただきますので、何卒ご了承ください。