ようこそ、ヨドバシ・ドット・コムのコミュニティへ

${toUser.communityName}さん、ヨドバシ・ドット・コムのコミュニティへようこそ！

このコミュニティでは、お客様同士で商品に関する知識を分かち合うことができます。

コミュニティでできること

------------------------------------------------
レビューを書く
------------------------------------------------
購入直後、使用1ヶ月後などの単位でレビューを投稿でき、ヨドバシゴールドポイントを獲得で
きます（※）。

------------------------------------------------
購入者Q&Aに回答する、質問する
------------------------------------------------
商品購入前に迷っていることや、購入後の使い方などをほかのユーザに質問できます。また、
逆にご自身がご購入された商品への質問もほかのユーザから届きます。
#*
------------------------------------------------
商品マスター制度
------------------------------------------------
コミュニティ活動度や信頼度が高いユーザは「商品マスター」の称号を獲得できます。
*#
------------------------------------------------
投稿者全員にポイントのチャンス
------------------------------------------------
レビュー投稿やQ&Aの回答などに対してほかのユーザからの評価を得るなどのコミュニティ活
動度に応じてヨドバシゴールドポイントを獲得できます。

------------------------------------------------
商品、ユーザー、Q&Aをフォローする
------------------------------------------------
気になる商品、ユーザー、Q&Aをフォローすることで、新着レビューや新着Q&A情報を見逃し
ません。

------------------------------------------------
メールでお知らせ機能
------------------------------------------------
購入した商品にほかのユーザから質問が届いたときや、レビューにコメントがついたときや、
ほかのユーザからフォローされたときなど、その都度メールでお知らせします。メール通知設
定で通知頻度を変更できます。
メール通知設定
http://${serviceConfig.communityDomain}/${serviceConfig.communityContextPath}/mypage/mail/input.html

------------------------------------------------
ほかのソーシャルメディアと連携
------------------------------------------------
ソーシャルメディア連携設定によって、TwitterやFacebookなどほかのソーシャルメディアと簡
単に連携できます。
さっそくソーシャルメディア連携を行う
http://${serviceConfig.communityDomain}/${serviceConfig.communityContextPath}/mypage/sns/input.html

${toUser.communityName}さんのコミュニティでのご活躍を楽しみにしております！

※レビューはどなたでも投稿できますが、ヨドバシカメラ店舗またはヨドバシ・ドット・コムで
購入したお客様のレビュー投稿につきヨドバシゴールドポイントを獲得できます。なお、コ
ミュニティ活動度・信頼度に応じたポイントはどなたも獲得のチャンスがあります。

※コミュニティはみんなの場です。誹謗中傷、わいせつな行為、著作権違反などの行為は禁じて
います。コミュニティ参加規約をお読みください。
コミュニティ参加規約
${serviceConfig.communityGuideline}

よろしくお願いいたします。
ヨドバシ・ドット・コム
----------------------------------------------------------------------------------------------------------------------
今後ヨドバシ・ドット・コムからこのようなメールを受けとりたくない場合は、または通知頻
度を変更したい場合は、メール通知設定から変更することができます。

メール通知設定
http://${serviceConfig.communityDomain}/${serviceConfig.communityContextPath}/mypage/mail/input.html